<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087588012232-ct92kdmf0lqias6esbm9g6c7h88a2o8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087588012232-ct92kdmf0lqias6esbm9g6c7h88a2o8s</string>
	<key>API_KEY</key>
	<string>AIzaSyAcb1ftJVpdDaD87neOXJkyPOagKTEZeQY</string>
	<key>GCM_SENDER_ID</key>
	<string>1087588012232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autocarservice</string>
	<key>PROJECT_ID</key>
	<string>autocarcare-f5953</string>
	<key>STORAGE_BUCKET</key>
	<string>autocarcare-f5953.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087588012232:ios:0f4518b0e7197c237b95fd</string>
</dict>
</plist>